<div class="container mt-3">

    <div class="row pt-4" style="margin-bottom: 100px;">
        <div class="col-xs-12 col-md-12">
            <h3 class="text-center">Conversor de modeda UF a CLP</h3>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="convertir()">
            <div class="row">
                <div class="col-3">
                   <label for="">UF</label>
                   <input type="number" class="form-control" formControlName="valor" placeholder="Ingrese valor en uf a convertir" required>
                </div>
                <div class="col-3">
                   <label for="">Fecha</label>
                   <input type="date" class="form-control" formControlName="fecha" required  max="{{ fechaActual }}">
                </div>
                <div class="col">
                   <button type="submit" class="btn btn-primary" style="margin-top: 21px;" [disabled]="disabled">Convertir</button>
                </div>
            </div>
   
        </form>

    </div>
    <div class="row mt-4">
        <h5>Mis Solicitudes de conversión</h5>
    </div>
    <div class="row mt-3">
        <p-table [value]="conversiones" [tableStyle]="{ 'width':'100%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Monto orginial</th>
                    <th>Fecha de UF</th>
                    <th>Valor UF</th>
                    <th>Monto Convertido</th>
                    <th>Fecha de Actividad </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-conversion>
                <tr>
                    <td>{{ conversion.original_amount }} UF</td>
                    <td>{{ conversion.date_conversion  | date:'dd/MM/yyyy'}}</td>
                    <td>{{ conversion.uf }}</td>
                    <td>$ {{ conversion.conversion_amount | clpFormat }}</td>
                    <td>{{ conversion.created_at  | date: "dd/MM/yyyy | hh:mm:ss a"}}</td>

                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center">Sin registros.</td>
                </tr>
            </ng-template>

        </p-table>
    </div>

</div>